#txt-area {
  display: block;
  max-width: 100%;
  width: 80%;
  height: 10vh;
  margin: 1rem;
  padding: 1rem;
}

#btn {
  margin: auto;
}

#div-output {
  border-style: solid;
  max-width: 100%;
  width: 80%;
  height: 10vh;
  margin: 1rem;
  padding: 1rem;
}
